body {
    background-color: #252525;
    color: #f5f5f5;
}

.hide {
    display: none;
}

.row {
    margin:0;
}
/*
.btn {
    background-color: #736767;
    color:#f5f5f5;
}
.btn:hover {
    background-color: #737373;
}
*/

p {
    margin-bottom: 0;
}
.warning {
    font-size: 14px;
    color:red;
}
.success {
    font-size: 14px;
    color:green;
}

input, select, textarea {
    background-color: #000!important;
    border: #f5f5f5!important;
    color:#f5f5f5!important;
}
.alert {
    padding:8px;
}
input:disabled {
    background-color: #e9ecef!important;
    opacity: 0.7!important;
    color: #252525!important;
}
.text-muted {
    display: block;
    margin-bottom: 8px;
}
.modal input, .modal select, .modal textarea {
    margin-bottom: 12px;
}
table {
    color:#f5f5f5!important;
}
table td {
    color:#f5f5f5!important;
}
.modal-content {
    background-color: #252525;
    border: 1px solid #f5f5f5;
}
.page table,.modal table {
    margin-top: 15px;
}
.page table th,.modal table th {
    font-size: 12px;
}
.page table .btn,.modal table .btn {
    margin-bottom: 8px;
    margin-right: 8px;
}
.system-success {
    text-align: center;
    font-weight: 700;
    color:green;
}
.modal .modal-title {
    font-size:16px;
}



...
